# Web API & Auth
fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
requests-oauthlib
email-validator

# Database
motor
pymongo

# Utilities
python-dotenv

# RAG Pipeline
langchain
langchain-community
langchain-groq
langchain-text-splitters
pdfplumber
fastembed

# Local Vector Store
chromadb
