--extra-index-url https://download.pytorch.org/whl/cpu

# Web API & Auth
fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
requests-oauthlib
email-validator

# Database
motor
pymongo

# Utilities
python-dotenv

# RAG Pipeline
langchain
langchain-community
langchain-groq
langchain-text-splitters
pdfplumber

# Local Vector Store (Stage 1)
chromadb

# Embeddings (Using CPU-only wheels to save massive amount of memory)
torch
sentence-transformers
transformers
